
#sidebar-first,
#sidebar-second,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "adelle", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.sidebars {
    float: left;
    width: 300px;
    display: block;
    background: #f0f0f0;
}

.sidebar .block {
    border: 0;
    background: inherit;
}

#page,
#page-wrapper {
    position: relative;
}

#main-menu {
    height: 100%;
    width: 15em;
    border: red 1px solid;
    left: -12em;
    position: fixed;
    overflow-y: hidden;
    z-index: 100;

    &.open {
        left: 0;
    }
    ul {
        position: absolute;
        left: 0;
        width: 12em;
    }

    #menu-bar {
        display: block;
        position: absolute;
        width: 3em;
        background: red;
        height: 3em;
        right: 0;
        top: 0;
    }
}